:host{
  width: 100%;
  height: 100px;
}
.container{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}
.butt{
  padding: 20px;
}
