:host{
  height:100%;
  width: 100%;

}
.container{
  height: calc(100vh - 66px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid white;
}
.mainText{
  font-size: 40px;
  color: white;
}
